/* Título da Página */
.repository-page-title {
  display: flex;
}

/* Caixa de Busca */
.repository-search-box {
  position: relative;
  margin: 20px 0; /* Remove a margem lateral */
  max-width: 500px;
  background: #0f0f0f;
  height: 55px;
  border-radius: 55px;
  padding: 12.5px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.repository-search-button {
  color: #E8E5E0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
  border: none;
  cursor: pointer;
}

.repository-search-box:hover .repository-search-txt {
  width: 96%;
  padding: 0 7.5px;
}

.repository-search-box:hover .repository-search-button {
  background: #E8E5E0;
  color: #000000;
}

.repository-search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #f1f1f1;
  font-size: 20px;
  transition: 0.4s ease-in-out;
  line-height: 50px;
  width: 0;
}

/* Botões */
.repository-button {
  text-align: left; /* Alinha o conteúdo à esquerda */
  margin: 20px 0; /* Remove a margem lateral */
}

.repository-processos {
  background: #beb9b4;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 10px; /* Remove a margem lateral */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.repository-processos:hover {
  background: #2c190a;
  color: #ddd;
}


/* Alinhamento dos processos à esquerda */
.repository-processos-list,
.repository-cadeias-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
}

.repository-processos-cards,
.repository-cadeias-processos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Alinha os cards de processos à esquerda */
}

.repository-processo-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0px 20px 0px;
  cursor: pointer;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.641);
  transition: 0.3s ease-in-out;
}

.repository-processo-card:hover {
  background-color: #beb9b4;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.286);
}

.repository-processo-card h2 {
  margin-top: 0;
  color: #322a25;
  text-align: center;
}

.repository-processo-card p {
  margin: 5px 0;
}

.repository-cadeias-title {
  font-size: 2rem;
  color: #381f0a;
  margin: 15px;
  font-weight: bold;
  text-align: left; /* Alinha o título à esquerda */
}

.repository-page-title {
  text-align: center;
  margin: 40px 0;
  font-size: 2.5rem;
  color: #322a25;
  font-weight: bold;
}
